@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <label for="sale-amount">Sale Amount</label>
            <input id="sale-amount" type="tel" />
        </div>
        <div>
            <label for="sale-ref-number">Reference Number</label>
            <input id="sale-ref-number" type="tel" />
        </div>
        <div><button id="start-pax-sale" type="button">Start Payment</button></div>
    </div>
</div>
